@use '../base/variables' as v;

.header {
    background-color: v.$verde;

    h1 {
        color: v.$blanco;
    }
}

.navegacion-principal {
    a {
        color: v.$blanco;
        font-size: 2.4rem;

        &:hover {
            //This ampersand is for SASS compiler to create the right tag in the 'app.css' file for hover
            color: v.$amarillo;
        }
    }
}
